body {
	font: 76%/162% 'Lucida Sans Unicode', 'Bitstream Vera Sans', sans-serif;
	background: #990000 url(images/blojsom-bg.jpg) repeat-x;
	color: #FFFFFF;
	text-align: center;
}
body, div, h1, h2, h3, h4, p, form, img, ul, li {
	margin: 0;
	padding: 0;
}
img {
	border: 0;
}
input, textarea, select {
	font: 100% 'Lucida Sans Unicode', 'Lucida Grande', 'Bitstream Vera Sans', 'Trebuchet MS', Geneva, Arial, sans-serif;
}
textarea {
	width: 300px;
}
a {
	color: #365483;
}
a:visited {
	color: #333333;
}
a:hover {
	color: #990000;
}
#main {
	margin: 0 auto;
	text-align: left;
}
#header{
	width: 100%;
	height: 80px;
}
#header h1 {
	float: left;
	margin: 26px 0 16px 32px;
	display: inline;
	font-size: 100%;
	color: #CCCCCC;
}
#header h1 a {
	font-size: 200%;
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	margin-left: -1px;
}
#header h1 span {
	font-size: 120%;
	font-weight: normal;
}
#controls {
	clear: right;
	float: right;
	width: 18em;
	height: 1em;
	text-align: right;
	border: 0;
	margin: 26px 33px 0 0;
	display: inline;
	vertical-align: middle;
}
#searchlabel {
	margin-right: 4px;
}
#searchfield {
	border: 1px solid #FFFFFF;
	width: 10em;
	margin: 0;
	padding: 0;
}
#searchimage {
	vertical-align: middle;
}
#switcher {
	margin: 6px 20px 0 0;
	text-align: right;
}
#switcher a {
	color: #FFFFFF;
	font-size: 84%;
	text-decoration: none;
}
#switcher a:hover {
	text-decoration: underline;
}
#footer {
	width: 100%;
	clear: both;
	margin-bottom: 30px;
	color: #FFFFFF;
}
#footer p {
	font-size: 84%;
}
#copyright {
	float: left;
	padding-left: 33px;
}
#info {
	float: right;
	padding-right: 31px;
}
#copyright a, #info a {
	color: #FFFFFF;
}
#copyright a:hover, #info a:hover {
	color: #DFEBF7;
}
#contentHeadLeft {
	background: url(images/vampire-headleft.jpg) no-repeat;
	width: auto;
	height: 20px;
	margin: 0 -12px;
	padding-left: 12px;
}
#contentHeadCenter {
	background: url(images/vampire-headcenter.jpg) repeat-x;
	width: auto;
	height: 100%;
	margin: 0 8px;
}
#contentHeadRight {
	background: url(images/vampire-headright.jpg) no-repeat right;
	width: auto;
	height: 100%;
	padding-right: 12px;
}
#contentBodyLeft {
	width: auto;
	background: url(images/vampire-bodyleft.jpg) repeat-y;
	clear: both;
	padding-left: 12px;
}
#contentBodyCenter {
	width: auto;
	height: auto;
	background: url(images/vampire-bodycenter.jpg);
}
#contentBodyRight {
	width: auto;
	background: #FF0000;
	padding-right: 12px;
	background: url(images/vampire-bodyright.jpg) repeat-y right;
}
#contentFootLeft {
	background: url(images/vampire-footleft.jpg) no-repeat;
	width: auto;
	height: 30px;
	margin: 0 -12px;
	padding-left: 12px;
	clear: both;
}
#contentFootCenter {
	background: url(images/vampire-footcenter.jpg) repeat-x;
	width: auto;
	height: 100%;
	margin: 0 8px;
}
#contentFootRight {
	background: url(images/vampire-footright.jpg) no-repeat right;
	width: auto;
	height: 100%;
	padding-right: 12px;
}
#content {
	background: url(images/vampire-content.jpg) repeat-x;
	width: auto;
	height: 200px;
	margin: 0;
	padding: 0 18px;
	color: #000000;
}
#entries {
	width: 100%;
	float: left; 
	clear: both;
	margin-right: -22em;
}
* html #entries{
	overflow: hidden;
}
#entries h2 {
	font-size: 140%;
	font-weight: normal;
	margin: -2px 22em 0 0;
}
#entries h2 a {
	color: #333333;
	text-decoration: none;
}
#entries h2 a:hover {
	color: #990000;
}
#nav {
	margin: 0 22em 1em 0;
}
#column {
	width: 20em; 
	float: right;
	overflow: hidden;
}
#column div {
	display: block;
	padding: 10px .9em 15px;
	border-bottom: 5px solid #F7F7F7;
	background: #DFEBF7;
}
#column ul {
	padding-left: 20px;
}
#column a {
	color: #365483;
}
#column a:hover {
	color: #990000;
}
#calendar {
	text-align: center;
}
#calendar p {
	margin-bottom: 5px;
	font-weight: bold;
}
#calendar table {
	width: 90%;
	margin: auto;
	border-collapse: collapse;
	line-height: 120%;
}
#calendar th, #calendar td {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 90%;
}
#calendar table a {
	display: block;
	color: #FFFFFF;
	background: #365483;
	text-align: center;
	text-decoration: none;
}
#calendar table a:hover {
	color: #FFFFFF;
	background: #990000;
}
div.entry {
	padding: 0;
	margin: 0 22em 3em 0;
}
div.entry h3 {
	margin-bottom: 20px;
	font-size: 120%;
	border-bottom: 1px solid #000000;
}
div.entry h3 a, div.entry h3 a:visited {
	color: #365483;
	text-decoration: none;
}
div.entry .post {
	background: #FCFCFC;
	padding: 1px;
}
div.entry h3 a:hover {
	color: #990000;
}
div.entry div, div.entry p {
	line-height: 18px;
	margin-bottom: 1em;
}
div.entry p.links a, div.entry p.links a:visited {
	color: #365483;
}
div.entry p.links a:hover {
	color: #990000;
}
div.entry span {
	margin-right: 4px;
}
div.entry ul {
	margin: 10px 0;
}
div.entry li {
	padding-left: 10px;
	list-style: none;
	background: url(images/vampire-disc.jpg) no-repeat 0 .5em;
}
div.entry blockquote {
	margin: 10px;
	padding-left: 20px;
	background: url(images/vampire-blockquote.jpg) no-repeat;	
}
div.comment {
	padding: 0;
	margin: 0 0 20px 0;
}
div.trackback {
	margin: 0 22em 20px 0;
}
span.author {
	color: #365483;
}
#trackback {
	margin: 0 22em 20px 0;
}
#comments {
	padding: 0;
	margin: 0 22em 3em 0;
}
#comments h3 {
	font-size: 100%;
	font-weight: bold;
	color: #000000;
	padding: 10px 0;
	clear: both;
}
#commentform {
	display: block;
	margin-top: 10px;
	padding-top: 20px;
	border-top: 1px solid #365483;
}
#commentform .label {
	width: 8em;
	float: left;
	clear: both;
	margin-bottom: 5px;
}
#commentform .input {
	width: 240px;
	float: left;
	margin-bottom: 5px;
}
#commentform .fixed {
	width: 240px;
}
#commentform .button {
	width: auto;
	float: left;
}
#commentform textarea {
	overflow: auto;
}
#commentPreview {
	margin-bottom: 20px;
}
img.emoticons {
	vertical-align: middle
}
.blue {
	display: block;
	color: #365483;
}
.red {
	color: #990000;
}
