body {
	margin: 0;
	font-family: helvetica, sans-serif;
}
a {
	color: #999;
}
a:hover {
	color: #48f;
}
a.rss {
	color: #f90;
}
#header {
	background-color: #48f;
	height: 70px;
}
#desc {
	color: #fff;
	font-size: 0.8em;
	margin: 0;
	padding: 0em 1em 1em 1em;
}
h1 {
	margin: 0;
	color: #fff;
	font-size: 1.5em;
	font-weight: normal;
	padding: 0.5em 0.5em 0em 0.5em;
}
h1.legend {
	font-size: 1.4em;
	color: #ccc;
	padding: 0em 0em 1em 0em;
}
h1.legend strong {
	color: #48f;
}
#sidebar {
	background-color: #f4f4f4;
	border-left: 1px solid #ccc;
	width: 180px;
	position: absolute;
	top: 70px;
	right: 0;
	padding: 0.5em 1em;
}
#sidebar h2, h3 {
	font-size: 1em;
	margin: 0.5em 0em;
}
#sidebar ul {
	list-style: none;
	margin: 0em 0em 1em 0em;
	padding: 0;
}
#sidebar ul li {
	line-height: 1.5em;
}
input#search {
	border: 2px solid #ccc;
	-moz-border-radius: 10px;
	padding: 2px;
	font-size: 10px;
	font-family: verdana, sans-serif;
}
input#search.on {
	border: 2px solid #48f;
}
#contents {
	margin-right: 200px;
	padding: 1em;
}
.entry {
	border-bottom: 1px solid #ddd;
	padding-bottom: 1em;
	margin-bottom: 1em;
}
.entry h2 {
	font-size: 1em;
	margin: 0em 0em 0.5em 0em;
}
.entry p.body, .format_bbcode {
	font-size: 0.8em;
	line-height: 1.5em;
	margin: 0;
}
h2 .category, h2 .date {
	font-size: 0.8em;
	color: #ccc;
	display: inline;
	padding-left: 1em;
}
p.info {
	font-size: 0.8em;
	margin-bottom: 0;
}
#cmtform th {
	font-weight: normal;
	font-size: 10px;
	font-family: verdana, sans-serif;
}
input, textarea {
	font-family: verdana, sans-serif;
}
input.text, textarea {
	border: 1px solid #ccc;
	padding: 2px;
	font-size: 0.8em;
}
#comment {
	list-style: none;
	margin: 0;
	padding: 0em 0em 1em 0em;
	border-bottom: 1px solid #ddd;
}
#comment li {
	border-left: 5px solid #ccc;
	padding-left: 0.5em;
	margin-bottom: 1em;
}
.cmtinfo {
	font-size: 0.8em;
	margin-bottom: 5px;
}
.cmtbody {
	font-size: 0.8em;
	line-height: 1.5em;
	margin: 0;
}
#calendar {
	font-size: 0.8em;
	text-align: center;
}
#calendar table {
	margin: auto;
}
