body { 
       font-family: tahoma, sans-serif;
       margin:10px 10px 0px 10px;
}

/* tabless css */
div.row {
	clear: both;
	padding-bottom: 10px;
}

div.row span.label {
	float: left;
	width: 150px;
	text-align: right;
}

div.row span.formw {
	text-align: left;
	padding-left: 15px;
}

#menu
{
  position:absolute;
  top: 20px;
  left:20px;
  width:120px;
  padding:10px;
  background-color:#eee;
  border:1px dashed #999;
  line-height:17px;
}

#menu a
{
  color: #09c;
  text-decoration:none;
}

#menu .menu_item
{
}

#menu .menu_item:hover
{
  background-color: #4a5e7d;
}

#menu .menu_item:hover a
{
  color: #fff;
}

#list, #post, #config, #data, #bookmark, #overview
{ 
  margin:0px 0px 10px 170px;
  padding:10px;
}

h2
{ 
  font-size: 14pt;
  background: #eee;
  color: #09c;
  margin-top: 0;
  margin-bottom: 0;
}

.entry_title
{ 
  white-space:nowrap;
  overflow:hidden;
}

.content_entry
{
  position:absolute;
  margin: 0px 50% 10px 0px;
  border: 1px solid black;
  background-color:white;
  z-index: 3;

  max-width: 300px;
  min-width: 300px;
}

.content_comment
{
  position:absolute;
  margin-left: 320px;
  margin-right: 10px;
  border:1px solid black;
  background-color:white;
}

.content_trackback
{
  position:absolute;
  top: 190px;
  margin: 0px 50% 10px 0px;
  border: 1px solid black;
  background-color:white;
  z-index: 3;

  max-width: 300px;
  min-width: 300px;
}

.content_info
{
  position:absolute;
  top: 190px;
  margin-left: 320px;
  margin-right: 10px;
  border:1px solid black;
  background-color:white;
}

/* post */
#post div.row span.label
{
  width: 70px;
}

/* list */
.entry
{
  padding-top: 5px;
  width: 100px;
}

.subject
{ 
  white-space:nowrap;
  overflow:hidden;
}

.comment .subject, .trackback .subject
{ 
  padding-left: 12px;
}

.trackback_ping
{
  left: 600px;
  padding-left: 20px;
}

.delete
{ 
  left: 700px;
  padding-left: 20px;
}

.entry:hover, .comment:hover, .trackback_ping:hover
{ 
  background-color: #4a5e7d;
}

.entry:hover a, .comment:hover a, .trackback_ping:hover a
{ 
  color: #fff;
}