body
{ 
  font-family: tahoma, sans-serif;
  margin:10px 10px 0px 10px;
}

a
{ 
  color: #09c;
  text-decoration:none;
}

/* tabless css */
div.row
{
  clear: both;
  padding-bottom: 10px;
}

div.row span.label
{
  float: left;
  width: 150px;
  text-align: right;
}

div.row span.formw
{
  text-align: left;
  padding-left: 15px;
}

#menu
{
  position:absolute;
  top: 20px;
  left:20px;
  width:120px;
  padding:10px;
  background-color:#eee;
  border:1px dashed #999;
  line-height:17px;
}

#menu .menu_item:hover
{
  background-color: #4a5e7d;
}

#menu .menu_item:hover a
{
  color: #fff;
}

#list, #post, #config, #data, #bookmark, #overview, #sendping
{ 
  margin:0px 0px 10px 170px;
  padding:10px;
}

h2
{ 
  font-size: 14pt;
  background: #eee;
  color: #09c;
  margin-top: 0;
  margin-bottom: 0;
  padding: 3px;
}

#overview td
{
  vertical-align: top;
}

tr .row:hover
{ 
  background-color: #4a5e7d;
}
tr .row:hover
{ 
  color: #fff;
}
tr .row:hover a
{ 
  color: #fff;
}

.entry_title
{ 
  white-space:nowrap;
  overflow:hidden;
}

/* post */
#post div.row span.label
{
  width: 70px;
}

/* list */
#list table
{
  border-spacing: 0;
  border-collapse: collapse;  
  text-align: center;
}

.entries
{
  margin-left: 10px;
}

.subject
{
  white-space:nowrap;
  overflow:hidden;
  width: 400px;
  text-align: left;         
}

.comments,  .trackbacks
{
  font-size: 12px;
  width: 65px;
}

.comment .subject, .trackback .subject
{ 
  margin-left: 20px;
  width: 380px;
}

.trackback_ping
{
  width: 40px;
}

.delete
{
  width: 52px;
}

.navbar
{
  margin: 0px;
  padding: 5px 10px 20px 10px;
}

.div_hide, .hide
{
  display:none;
}

#bookmark table
{
    margin: 5px 0px 5px 0px;
    padding: 0px;
    background: #7cb4fb;
}
#bookmark table td
{
    margin: 0px;
    padding: 2px;
    background: white;
}
