body
{ 
  font-family: tahoma, sans-serif;
  margin:10px 10px 0px 10px;
}

a
{ 
  color: #09c;
  text-decoration:none;
}

/* tabless css */
div.row
{
  clear: both;
  padding-bottom: 10px;
}

div.row span.label
{
  float: left;
  width: 150px;
  text-align: right;
}

div.row span.formw
{
  text-align: left;
  padding-left: 15px;
}

#menu
{
  position:absolute;
  top: 20px;
  left:20px;
  width:120px;
  padding:10px;
  background-color:#eee;
  border:1px dashed #999;
  line-height:17px;
}

#menu .menu_item:hover
{
  background-color: #4a5e7d;
}

#menu .menu_item:hover a
{
  color: #fff;
}

#list, #post, #config, #data, #bookmark, #overview, #sendping
{ 
  margin:0px 0px 10px 170px;
  padding:10px;
}

h2
{ 
  font-size: 14pt;
  background: #eee;
  color: #09c;
  margin-top: 0;
  margin-bottom: 0;
  padding: 3px;
}

.entry_title
{ 
  white-space:nowrap;
  overflow:hidden;
}

.content_entry
{
  position:absolute;
  margin: 0px 50% 10px 0px;
  border:1px dashed #999;
  background-color:white;
  z-index: 3;

  max-width: 300px;
  min-width: 300px;
}

.content_comment
{
  position:absolute;
  margin-left: 320px;
  margin-right: 10px;
  border:1px dashed #999;
  background-color:white;
}

.content_trackback
{
  position:absolute;
  top: 190px;
  margin: 0px 50% 10px 0px;
  border:1px dashed #999;
  background-color:white;
  z-index: 3;

  max-width: 300px;
  min-width: 300px;
}

.content_info
{
  position:absolute;
  top: 190px;
  margin-left: 320px;
  margin-right: 10px;
  border:1px dashed #999;
  background-color:white;

  height: 145px;
  min-width: 300px;
}

/* post */
#post div.row span.label
{
  width: 70px;
}

/* list */
.entry
{
  padding-top: 25px;
}

.comment, .trackback
{ 
  padding-top: 20px;
}

.subject
{
  white-space:nowrap;
  overflow:hidden;
  position:absolute;
  left: 200px;
  width: 400px;
}

.comment .subject, .trackback .subject
{ 
  left: 220px;
  width: 380px;
}

.trackback_ping
{
  position:absolute;
  left: 610px;
}

.delete
{
  position:absolute;
  left: 700px;
}

.navbar
{
  margin: 0px;
  padding: 5px 10px 20px 10px;
}

.hide
{
  display:none;
}

