/*
soojung template: The Simple Balance (silver)
Designed by Kang Seonghoon (Tokigun) <tokigun@gmail.com>
*/

body {
	margin: 0px;
	padding: 0px;
	font-family: verdana, sans-serif;
	text-align: left;
	line-height: 1.5em;
	color: #000;
	background-color: #eee;
	font-size: small;
}
a {
	color: #00f;
	text-decoration: underline;
}
a:hover {
	color: #f00;
	text-decoration: underline;
}
.hide {
	display: none;
}
.box_title {
	float: left;
	font-weight: bold;
}
.box_header {
	font-weight: normal;
}
.box_body {
	clear: both;
	padding: 5px;
}
.disabled {
	font-style: italic;
}

#header {
	background-color: #444;
	border-bottom: 10px double #eee;
}
#header h1 {
	font-size: 2em;
	margin: 0;
	padding: 60px 10px 10px 10px;
}
#header h1 a {
	color: #fff;
	text-decoration: none;
}
#header .float {
	position: absolute;
	right: 0px;
	top: 0px;
	text-align: right;
	margin: 0.3em;
	color: #888;
}
#header .float a {
	text-decoration: none;
	font-weight: bold;
	color: #888;
}
#header .float a:hover {
	text-decoration: underline;
	color: #888;
}

#contents {
	float: left;
	width: 76%;
}
.entry {
	margin: 20px;
	border: 2px solid #aaa;
	background-color: #fff;
}
.entry h2 {
	font-size: 1em;
	text-align: right;
	background-color: #aaa;
	padding: 5px;
	color: #fff;
	margin: 0;
}
.entry h2 a {
	color: #fff;
	text-decoration: none;
}
.entry h2 a:hover {
	color: #fff;
	text-decoration: underline;
}
.entry_footer {
	font-size: 1em;
	background-color: #aaa;
	color: #fff;
	text-align: right;
	margin: 0px;
	padding: 5px;
}
.entry_footer a {
	color: #fff;
	text-decoration: none;
}
.entry_footer a:hover {
	color: #fff;
	text-decoration: underline;
}

.entry:hover, .thisentry {
	border: 2px solid #777 !important;
}
.entry:hover h2, .entry:hover .entry_header, .entry:hover .entry_footer,
.thisentry h2, .thisentry .entry_header, .thisentry .entry_footer {
	background-color: #777 !important;
}

.trackback_url {
	background-color: #eee;
	border: 1px solid #ddd;
	text-align: center;
	padding: 5px;
	margin: 10px;
}
.trackback, .comment {
	margin: 10px;
	border: 2px solid #999;
	background-color: #fff;
}
.trackback h3, .comment h3 {
	font-size: 1em;
	background-color: #999;
	padding: 3px;
	color: #fff;
	margin: 0;
	text-align: right;
}
.trackback h3 a, .comment h3 a {
	color: #fff;
	text-decoration: none;
}
.trackback h3 a:hover, .comment h3 a:hover {
	color: #fff;
	text-decoration: underline;
}

.postform {
	margin: 10px;
	border: 2px solid #888;
	background-color: #fff;
}
.postform h3 {
	font-size: 1em;
	background-color: #888;
	padding: 3px;
	color: #fff;
	margin: 0;
}
.postform_leftside {
	float: left;
	text-align: right;
	font-size: x-small;
	margin: 10px;
	padding-right: 10px;
	border-right: 1px solid #888;
}
.postform_leftside p {
	margin: 0px;
}
.postform_leftside input {
	font-family: verdana, sans-serif;
	font-size: x-small;
	width: 150px;
}
.postform_leftside input.button {
	width: auto !important;
}
.postform_rightside p {
	margin: 0px;
	padding: 10px;
}
.postform_rightside textarea {
	font-size: small;
	width: 34.5em; /* heuristic value -- will be modified */
	height: 11.5em;
}

.navibar {
	text-align: center;
	margin: 10px;
}
.navibar span {
	border: 2px solid #444;
	background-color: #fff;
	padding: 5px;
}
.navibar a {
	color: #444;
	font-weight: bold;
	text-decoration: none;
}
.navibar a:hover {
	color: #444;
	text-decoration: underline;
}

.entrylist {
	margin: 20px;
	border: 2px solid #888;
	background-color: #fff;
}
.entrylist h2 {
	font-size: 1em;
	background-color: #888;
	padding: 5px;
	color: #fff;
	margin: 0;
}
.entrylist h2 a {
	color: #fff;
	text-decoration: none;
}
.entrylist h2 a:hover {
	color: #fff;
	text-decoration: underline;
}

#sidebar {
	float: right;
	border-left: 2px solid #444;
	border-bottom: 2px solid #444;
	margin-top: -4px;
	margin-bottom: 20px;
	width: 20%;
	min-width: 180px;
	background-color: #fff;
}
#sidebar h3 {
	border-left: 10px solid #444;
	background-color: #666;
	color: #fff;
	margin: 0px 10px 5px 0px;
	padding: 5px;
	font-size: small;
}
#sidebar h3 a {
	color: #fff;
	text-decoration: none;
}
#sidebar ul {
	margin: 0px 5px 5px 5px;
	padding: 0px 4px;
	list-style: none;
}
#sidebar li {
	width: 100%;
	margin: 0px 0px 5px 0px;
	white-space: nowrap;
	overflow: hidden;
}
#sidebar p {
	margin: 10px;
}
#sidebar p.addition {
	font-size: 0.7em;
}
#sidebar p.addition img {
	border: 0px !important;
	vertical-align: middle;
}
#sidebar a {
	color: #444;
	text-decoration: none;
}
#sidebar a:hover {
	color: #444;
	text-decoration: underline;
}
#sidebar hr {
	color: #444;
	height: 1px;
	border: 0px;
	background-color: #444;
}

#calendar {
	margin: 10px;
}
#calendar p {
	text-align: center;
	margin: 0px;
}
#calendar p .current {
	font-weight: bold;
}
#calendar table {
	margin: 0px auto;
	width: 95%;
	table-layout: fixed;
	border: 1px solid #888;
	border-collapse: collapse;
}
#calendar tr.header {
	background-color: #888;
}
#calendar th,
#calendar td {
	text-align: center;
	width: 14.3%;
	margin: 0px;
	padding: 2px;
}
#calendar th {
	color: #fff;
}
#calendar td {
	color: #888;
}

#footer {
	clear: both;
	font-size: small;
	color: #fff;
	background-color: #444;
}
#footer p {
	margin: 0px;
	padding: 5px;
	text-align: center;
}
#footer a {
	color: #fff;
	text-decoration: none;
}
#footer a:hover {
	color: #fff;
	text-decoration: underline;
}

