.moreless {
	background-color: #F7F7F7;
	border:1px solid #CCCCCC;
	margin-top: 0;
	padding: 0;
	padding: 5px;
}

.graybox {
	background-color: #F7F7F7;
	border:1px solid #CCCCCC;
	margin-top: 15px;
	padding: 0;
	padding: 5px;
}

.blackbox {
	border: 1px solid #AAAAAA;
	padding: 0;
	width: 100%;
}

.blogtitle {
	font-family:Trebuchet MS,helvetica,verdana,tahoma,µ¸¿ò;
	font-size:18pt;
	color: #000000;
	margin-bottom: 5px;
	text-align: left;
}
.blogtitle a:link { color:#000000; }
.blogtitle a:visited { color:#000000; }
.blogtitle a:hover { color:#000000; text-decoration:none; }
.blogdesc {
	font-family:Trebuchet MS,helvetica,verdana,tahoma,µ¸¿ò;
	font-size:10pt;
	color: #999999;
	text-align: left;
}
.entrytitle{
	font-weight: bold;
	font-size: 10pt;
	margin-bottom: 10px;	
}
.entrybody{
        font-weight: normal;
        font-size: 9pt;
}

.entrydate {
	text-align: right;
	margin-top: 20px;
	border-top: 1px dotted #CCCCCC;
	font-size: 8pt;
	color: #999999;
}

.menutitle { 
	line-height:17px; 
	font-size:8pt; 
	font-weight:bold; 
	background-color: #F7F7F7;
	color:#999999; 
	border:1px solid #DDDDDD;
	margin-top:15px;
	margin-bottom:3px;
	font-family:georgia,verdana,tahoma,µ¸¿ò;
}
.menucontent { 
	margin-top:5px;
}

.comment_text {
	font-size:8pt;
	padding-top:2px;
	border:solid 1px #CCCCCC;
	background-color:#FFFFFF;
	color:#555555;
}	

.search { 
	border:solid 1px #CCCCCC; 
	font-size:8pt; 
	color:#555555; 
	background-color:#FFFFFF; 
}

.link { 
	font-family:tahoma;
	font-size:8pt; 
	color:#999999;
}
a.link:link { color:#000000; }
a.link:visited { color:#000000; }
a.link:hover { color:#999999; text-decoration:none; }
.link2 { 
	font-family:tahoma;
	font-size:8pt; 
	color:#000000;
}
a.link2:link { color:#999999; }
a.link2:visited { color:#999999; }
a.link2:hover { color:#000000; text-decoration:none; }

.silver7 { 
	font-size:7pt; 
	color:#CECBCE; 
}
.silver7 a:link { color:#CECBCE; }
.silver7 a:visited { color:#CECBCE; }
.silver7 a:hover { color:#777777; text-decoration:none; }

.silver8 {
	font-size: 8pt;
	color: #CECBCE;
}
.silver8 a:link { color:#CECBCE; }
.silver8 a:visited { color:#CECBCE; }
.silver8 a:hover { color:#777777; text-decoration:none; }

.gray7 { 
	font-size:7pt; 
	color:#999999; 
}
.gray7 a:link { color:#999999; }
.gray7 a:visited { color:#999999; }
.gray7 a:hover { color:#999999; }

.gray8 { 
	font-size:8pt; 
	color:#999999; 
}
.gray8 a:link { color:#999999; }
.gray8 a:visited { color:#999999; }
.gray8 a:hover { color:#999999; }

.blue8 { 
	color:#777777; 
	font-size:8pt;
}
.blue8 a:link { color:#3399CC; }
.blue8 a:visited { color:#3399CC; }
.blue8 a:hover { color:#777777; text-decoration:none; }


