body {
	font: 75% 'Lucida Sans Unicode', 'Lucida Grande', 'Bitstream Vera Sans', 'Trebuchet MS', Geneva, Arial, sans-serif;
	background: #FFFFFF url(images/asual-bg.jpg) repeat-x;
	color: #000000;
	text-align: center;
}
body, div, h1, h2, h3, h4, p, form, img, ul, li {
	margin: 0;
	padding: 0;
}
img {
	border: 0;
}
input, textarea, select {
	font: 100% 'Lucida Sans Unicode', 'Lucida Grande', 'Bitstream Vera Sans', 'Trebuchet MS', Geneva, Arial, sans-serif;
}
textarea {
	width: 300px;
}
a {
	color: #365483;
}
a:visited {
	color: #333333;
}
a:hover {
	color: #CC0000;
}
#main {
	width: 770px;
	margin: 0 auto;
	text-align: left;
}
#header{
	width: 100%;
	height: 80px;
}
#header h1 {
	float: left;
	margin: 26px 0 16px 30px;
	display: inline;
	font-size: 100%;
}
#header h1 a {
	font-size: 200%;
	display: block;
	text-decoration: none;
	color: #365483;
	margin-left: -1px;
}
#header h1 a:hover {
	color: #CC0000;
}
#header h1 span {
	font-size: 120%;
	font-weight: normal;
}
#footer {
	width: 100%;
	clear: both;
	margin-bottom: 30px;
}
#footer p {
	font-size: 90%;
}
#copyright {
	float: left;
	padding-left: 32px;
}
#info {
	float: right;
	padding-right: 32px;
}
#info a {
	color: #000000;
}
#info a:hover {
	color: #365483;
}
#content {
	width: 100%;
	background: url(images/asual-content.jpg) repeat-y;
	clear: both;
}
#content h3 {
	font-size: 120%;
	color: #365483;
}
#chead {
	background: #FFFFFF url(images/asual-chead.jpg) no-repeat;
	width: 100%;
	height: 28px;
}
#cfoot {
	background: #FFFFFF url(images/asual-cfoot.jpg) no-repeat left bottom;
	width: 100%;
	height: 24px;
	clear: both;
	margin-top: 10px;
}
#cbody {
	background: url(images/asual-cbody.jpg) repeat-x;
	width: auto;
	height: 200px;
	margin: 0 9px;
	padding: 0 21px;
}
#cbody h2 {
	font-size: 140%;
	font-weight: normal;
	float: left;
	width: 100%;
}
#cbody h2 a {
	color: #333333;
	text-decoration: none;
}
#cbody h2 a:hover {
	color: #CC0000;
}
#nav {
	width: 100%;
	clear: both;
	float: left;
	height: 2em;
}
#clear {
	clear: both;
	height: 0px;
	overflow: hidden;
}
#entries {
	width: 100%;
	float: left; 
	clear: both;
	margin-right: -20em;
}
* html #entries{
	overflow: hidden;
}
#column {
	width: 18em; 
	float: right;
    overflow: hidden;
}
#column div {
	display: block;
	margin-bottom: 20px;
}
#column ul {
	list-style: none;
}
#column a {
	color: #365483;
}
#column a:hover {
	color: #CC0000;
}
#calendar {
	background: #F4F9FD;
	border: 1px solid #365483;
	width: auto;
	padding: 3px;
}
#calendar table {
	width: 100%;
	border-collapse: collapse
}
#calendar caption {
	font-size: 120%;
	font-weight: bold;
	text-align: center;
	color: #365483;
	margin-bottom: 2px;
}
#calendar th, #calendar td {
	margin: 0;
	padding: 0 1px 1px 0;
	text-align: center;
}
#calendar thead th {
	font-size: 90%;
}
#calendar tfoot a {
	color: #365483;
}
#calendar tfoot a:hover {
	color: #CC0000;
}
#calendar tbody a {
	background: #365483;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	display: block;
}
#calendar tbody a:hover {
	color: #FFFFFF;
	background: #CC0000;
}
#searchbox {
	clear: right;
	float: right;
	width: 14em;
	text-align: right;
	border: 0;
	margin: 26px 29px 0 0;
	display: inline;
}
#searchlabel {
	margin: 0 0 4px 0;
}
#searchimg {
	float: right;
	margin-right: 2px;
}
#searchimg input {
	border: 0;
	padding: 0;
}
#searchfield {
	float: right;
}
#searchfield input {
	border: 1px solid #365483;
	width: 10em;
	padding: 1px;
}
#blojsom {
	margin-top: 40px;
}
div.entry {
	padding: 0;
	margin: 0 20em 3em 0;
}
div.entry h3 {
	border-bottom: 1px solid #365483;
}
div.entry h3 a, div.entry h3 a:visited {
	color: #365483;
	text-decoration: none;
}
div.entry h3 a:hover {
	color: #CC0000;
}
div.entry div, div.entry p {
	line-height: 18px;
	margin-bottom: 1em;
}
div.entry p.links a, div.entry p.links a:visited {
	color: #365483;
}
div.entry p.links a:hover {
	color: #CC0000;
}
div.entry span {
	margin-right: 4px;
}
div.entry ul {
	margin: 10px 0;
}
div.entry li {
	padding-left: 10px;
	list-style: none;
	background: url(images/asual-disc.jpg) no-repeat 0 .5em;
}
div.entry blockquote {
	margin: 10px;
	padding-left: 20px;
	background: url(images/asual-blockquote.jpg) no-repeat;	
}
div.entrybody {
	padding-top: 10px;
}
div.comment {
	padding: 0;
	margin: 0 0 20px 0;
}
div.trackback {
	padding: 0;
	margin: 0 0 20px 0;
}
#trackbacks, #comments {
	padding: 0;
	margin: 0 20em 3em 0;
}
#trackbacks h3, #comments h3 {
	font-size: 100%;
	font-weight: bold;
	color: #000000;
	padding: 10px 0;
	clear: both;
}
#commentform {
	display: block;
	margin-top: 10px;
	padding-top: 20px;
	border-top: 1px solid #365483;
}
#commentform .label {
	width: 8em;
	float: left;
	clear: both;
	margin-bottom: 5px;
}
#commentform .input {
	width: 240px;
	float: left;
	margin-bottom: 5px;
}
#commentform .button {
	width: auto;
	float: left;
}
#commentform .fixed {
	width: 240px;
}
#commentform textarea {
	overflow: auto;
}
#commentPreview {
	margin-bottom: 20px;
}
img.emoticons {
	vertical-align: middle
}
.blue {
	display: block;
	color: #365483;
}
.red {
	color: #CC0000;
}
