body
{
  margin: 0;
  font-family: georgia, "굴림", serif;
  text-align: left;
  line-height: 1.5em;
  color: #000;
  background: #fff;
  font-size: small;
}

#content
{
  float: left;
  padding: 5px 20px;
  width: 70%;
}

#content .entry
{
  padding-top: 12px;
  border-bottom: 1px solid #ddd;
}

#content .comments
{ 
  padding-top: 12px;
}

#content .comment
{
  padding-bottom: 12px;
}

#content .trackbacks
{
  padding-top: 12px;
}

#content .trackback_url
{
  padding-top: 12px;
  padding-bottom: 12px;
}

#content .trackback
{ 
  padding-bottom: 12px;
}

h2
{
  font-family: "lucida grande", verdana, sans-serif;
  font-size: 105%;
  color: #09c;
  padding: 0;
  margin: 0 0 1em 0;
}

a
{
  color: #09c;
  text-decoration:none;
}

p.posted
{
  color: #999;
  font-size: 90%;
  margin: 0;
  padding: 0 0 12px 0;
  text-align: right;
}

a.plink
{
  color: #999;
  text-decoration: none;
}

a:hover.plink
{
  color: #333;
}

pre
{
  padding: 5px;
  border: 1px solid #EBD4C8;
  background-color: #FCF7F4;
}

#sidebar
{
  float: left;
  font-size: 90%;
  line-heighT: 1.5em;
  padding: 0;
  color: #999;
  width: 20%;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

#sidebar ul
{
  margin: 4px 0 20px 0;
  padding-left: 10px;
  list-style: none;
}

#sidebar li
{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 0 .5em 0;
}

#sidebar a:link
{
  color: #999;
}

#sidebar a:visited
{
  color: #999;
}

#sidebar a:hover
{
  color: #333;
}

#sidebar h3
{
  font-size: 14pt;
  background: #eee;
  color: #09c;
  padding: 0.2em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

#sidebar h3 a
{
  color: #09c;
}

#sidebar h3 a:hover
{
  color: #000;
}

.div_hide
{
  display: none;
}
#footer
{
  position: relative;
  clear: both;
  margin: 0;
  padding: 0;
  font-size: 90%;
  color: #666;
}

#footer p 
{
  color: #999;
  margin: 0;
  padding: 8px 20px;
  text-align: center;
}

#header {
  color: #09c;
  font-size: 200%;
  font-weight: bold;
  margin: 0;
  padding: 20px 20px;
  border-bottom: 1px solid #333;
}

#calendar a {
  font-weight: bold;
}

#calendar {
  text-align: center;
  margin-bottom: 1em;
}
#calendar table {
  margin: auto;
}
.calendar_days {
  text-align: left;
}

#banners {
  margin: 0.5em;
}
