body {
	font-family: arial, sans-serif;
	font-size: small;
}

img {
	border: 0;
}

form {
	margin: 0;
	padding: 0;
}

.div_hide, .hide {
	display: none;
}

pre {
	padding: 5px;
	border: 1px solid #EBD4C8;
	background-color: #FCF7F4;
}

/* Header */
#header {
	font-size: small;
}

#header-logo {
	float: left;
	padding-top: 5px;
	padding-right: 10px;
}

#header .tiny {
	font-size: 8pt;
}

#header-menu {
}

#header-search {
	margin-top: 5px;
}

/* First Bar */
#bar {
	clear: both;
	margin-bottom: 20px;
	padding: 0 10px;
	border-top: 1px solid #00C;
	background-color: #E5ECF9;
}

#bar h3 {
	font-size: 140%;
	margin: 0;
}

.result {
	float: right;
}

/* Entry */
.entry {
	margin-top: 20px;
	width: 70%;
}
.entrytitle {
	font-size: 12pt;
	line-height: 140%;
}
.entrybody {
	font-size: 10pt;
	line-height: 140%;
}
.entryinfo {
	font-size: 9pt;
	color: #008000;
}
.posted {
	background-color: #f8f8ff;
	color: #000000;
	height: 20px;
	border-top: 1px solid #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	text-align: right;
}

#nav {
	margin-top: 40px;
}
#nav table {
	margin: 0 auto;
	padding: 0;
	border-spacing: 0;
}
#nav td {
	padding: 0;
	vertical-align: top;
	text-align: center;
}
#nav td.nav-prev {
	text-align: right;
}
#nav td.nav-next {
	text-align: center;
}
#nav strong {
	font-size: 110%;
}

#nav .nav-current {
	font-weight: bold;
	color: #A90A08;
}

/* comment */
.trackbacks, .comments {
	margin: 10px;
	font-size: 10pt;
	padding-left: 20px;
	padding-right: 10px;
}
.trackback, .trackback_url, .comment, .comment_post {
	background-color: #f8f8ff;
	color: #000000;
	border: 1px solid #d3d3d3;
	padding: 5px 10px 5px 10px;
	margin-top: 10px;
	margin-left: 10px;
}
.trackback a.fl, .comment a.fl {
	text-decoration:none;
}

.comment_body, .trackback_body {
	padding-left: 5px;
	padding-top: 5px;
	border-top: 1px solid #d3d3d3;
}
.comment_post {
	padding-right: 20px;
	padding-top: 20px;
	text-align: right;
}
.comment_post .comment_text {
	width: 90%;
	overflow-y: auto;
	overflow-x: hidden;
}
.comment_post .submit {
	color:#999999;
	background-color:#F7F7F7;
	border: 1px #CCCCCC solid;
	width: 50px;
	height: 17px;
	overflow: auto;
	font-size: 8pt;
}

/* menu */
#menu {
	width: 150px;
	overflow: hidden;
}

#menu ul {
	margin: 0;
	padding: 20px 0;
	padding-left: 15px;
	border-left: 1px #C9D7F1 solid;
	list-style: none;
}

#menu li {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}

#menu .category, #menu .archive,
#menu .recent_entry, #menu .bookmark {
	position: absolute;
	left: 80%;
	top: 15%;
	font-size: small;
}

/* footer */
#footer {
	text-align: center;
	margin-top: 10px;
}
#footerbox {
	margin-top: 40px;
	margin-bottom: 40px;    
	padding: 20px;
	background-color: #e5ecf9;
	color: #000000;
	border-top: 1px solid #00c;
	border-bottom: 1px solid #00c;
}
#footer-search {
	margin-bottom: 20px;
}
